<div class="group">
  <h2>Top 10 domains</h2>
  <div class="graph">
    <h3>In the last 15 minutes</h3>
    <%= partial(:hits_table, :locals => {:top10 => @top10_15min}) %>
  </div>
</div>
<div class="group">
  <h2>Load Average</h2>
  <div class="graph">
    <h3>In the last minute</h3>
    <%= partial(:loadavg, :locals => {:loadavg => @loadavg["1min"]}) %>
  </div>
</div>
<div class="group">
  <h2>Disk Free Space</h2>
  <div class="graph">
    <%= Gchart.bar(:data => @disk.map(&:last), :legend => @disk.map(&:first),
        :alt => "#{@disk.map {|name, free| '%s %s free' % [name, number_to_human_size(free)]}.join(", ")}",
        :size => "450x200",
        :bar_colors => "76A4FB|FB76A4|76FBA4|A476FB|76A4FB|A4FB76|A476FB",
        :format => "image_tag") %>
  </div>
</div>
