<div class="group">
  <h2>Top 10 domains</h2>
  <div class="graph">
    <h3>In the last minute</h3>
    <%= partial(:hits_table, :locals => {:top10 => @top10_1min}) %>
  </div>
  <div class="graph">
    <h3>In the last 5 minutes</h3>
    <%= partial(:hits_table, :locals => {:top10 => @top10_5min}) %>
  </div>
  <div class="graph">
    <h3>In the last 15 minutes</h3>
    <%= partial(:hits_table, :locals => {:top10 => @top10_15min}) %>
  </div>
</div>
